<div style="padding-left: 0; padding-right: 0;">
  <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">
    <label style="margin-right: 10px;">
      <i class="fa fa-terminal fa-2x"></i>
    </label>
    <a class="navbar-brand" href="#/">Json field editor</a>    
    <a class="github-button" href="https://github.com/lehajam/jsedit-app" data-size="large" data-show-count="true" aria-label="Star lehajam/jsedit-app on GitHub">Star</a>
  </header>
</div>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <form class="form-inline margin-right">
    <label class="btn btn-primary btn-space" (change)="fileEvent($event)">
      <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
      <input type="file" style="display: none;">
    </label>
  </form>
  <button class="btn btn-primary btn-space" type="submit">
    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
  </button>
  <form class="form-inline">
    <input name="typeahead-basic" type="text" class="form-control input-search" [(ngModel)]="model" [ngbTypeahead]="search" (selectItem)="filter($event)">
  </form>
  <button class="btn btn-primary btn-space" type="submit" (click)="save()">
    <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
  </button>
</nav>
<div class="container" style="margin-top: 25px;">
  <field-editor></field-editor>
  <div class="card border-primary" [hidden]="!fileSelected" >
    <div class="card-body">
      <json-tree-view [json]="file" [expanded]="activeFilter"></json-tree-view>
    </div>
  </div>
</div>