.card-main{
    margin-top:10px; 
    margin-bottom: 10px;
    margin-left: 10px; 
    margin-right: 10px;
}

.btn-space {
    margin-right: 5px;
}

.input-search {
    margin-right: 5px;
    width: 300px;
}