<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
  <form class="form-inline margin-right">
    <label class="btn btn-primary btn-space" (change)="fileEvent($event)">
      <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
      <input type="file" style="display: none;">
    </label>
  </form>
  <form class="form-inline">
    <button class="btn btn-primary btn-space" type="submit">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </button>
    <input name="typeahead-basic" type="text" class="form-control input-search" [(ngModel)]="model" [ngbTypeahead]="search" (selectItem)="filter($event)"  >
  </form>
  <form class="form-inline">
    <button class="btn btn-primary btn-space" type="submit" (click)="save()">
      <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
    </button>
  </form>
</nav>
<div class="card-main">
  <field-editor></field-editor>  
  <json-tree-view [json]="file" class="card card-outline-primary card-block" [expanded]="activeFilter" ></json-tree-view>
</div>