<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <label class="btn btn-default btn-file">
            Load
            <input type="file" style="display: none;" (change)="fileEvent($event)">
        </label>
      </li>
      <li class="nav-item">
        <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
    </form>
  </div>
</nav>
<div class="row viewer-margin" >
  <div class="col-sm-6">
    <div class="card card-outline-primary">
      <div class="card-block">
        <json-tree-view [json]="file" ></json-tree-view>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-outline-primary">
      <div class="card-block">
        <json-tree-view [json]="file" ></json-tree-view>
      </div>
    </div>
  </div>
</div>