.card-badge { 
    margin-bottom: 0px; 
    border: 0; 
    background-color:white;
}

.input-group-edit { 
    border: 0; 
    margin-bottom: 20px; 
}

.button-margin { 
    margin-top:5px; 
    margin-left: 5px; 
    margin-right: 5px; 
    margin-bottom: 5px; 
}

.input-edit {
    margin-right: 20px;
}
